---

- name: Include version-specific variables - Macos 10
  ansible.builtin.include_vars: >
    MacOSX-{{ ansible_facts['distribution_version'] }}.yml
  when: ansible_facts['distribution'] == "MacOSX" and ansible_facts['distribution_major_version']|int == 10
- name: Include version-specific variables
  ansible.builtin.include_vars: "MacOSX-{{ ansible_facts['distribution_major_version'] }}.yml"
  when: ansible_facts['distribution'] == "MacOSX" and ansible_facts['distribution_major_version']|int > 10

- name: Import travis
  ansible.builtin.import_tasks: travis.yml

- name: Import unix
  ansible.builtin.import_tasks: unix.yml

- name: Darwin | Harden
  ansible.builtin.import_tasks: darwin.yml
  when: ansible_facts['os_family'] == "Darwin"

- name: Import testing
  ansible.builtin.import_tasks: testing.yml
  when: harden_darwin_testing
