---

## not sure it is needed, as sshd is managed by launchd/inetd-like
- name: restart sshd
#  service: name={{ ssh_svc }} state=restarted
  command: "launchctl stop -w /System/Library/LaunchDaemons/ssh.plist; launchctl start -w /System/Library/LaunchDaemons/ssh.plist"
  ignore_errors: true

- name: reload fstab
  shell: "umount -a; mount -a"
  ignore_errors: true

- name: kill osx bluetooth
  command: "killall -HUP blued"
  ignore_errors: true

- name: restart osquery
#  service: name=osqueryd state=restarted
  command: "launchctl stop -w /Library/LaunchDaemons/com.facebook.osqueryd.plist; launchctl start -w /Library/LaunchDaemons/com.facebook.osqueryd.plist"
  ignore_errors: true

## seems to always return 3 and not restarting anything
- name: restart santa
  command: "launchctl stop -w /Library/LaunchDaemons/com.google.santad.plist; launchctl start -w /Library/LaunchDaemons/com.google.santad.plist"
  ignore_errors: true

- name: restart auditd
  command: "launchctl stop -w /System/Library/LaunchDaemons/com.apple.auditd.plist; launchctl start -w /System/Library/LaunchDaemons/com.apple.auditd.plist"
  ignore_errors: true

