// https://osquery.io/schema/
// https://blog.kolide.com/monitoring-macos-hosts-with-osquery-ba5dcc83122d
{
  "queries": {
    "authorized_keys": {
      "query" : "select authorized_keys.* from users join authorized_keys using (uid);",
      "description" : "Info on authorized keys",
      "interval" : "900"
    },
    "user_ssh_keys": {
      "query" : "select * from user_ssh_keys;",
      "description" : "info on user ssh keys",
      "interval" : "900"
    },
    "dns_resolvers": {
      "query" : "select * from dns_resolvers;",
      "description" : "check DNS resolvers",
      "interval" : "3600"
      },
    "known_hosts": {
      "query" : "select known_hosts.* from users join known_hosts using (uid);",
      "description" : "line-delimited known_hosts table",
      "interval" : "900"
    },
    "sudoers": {
      "query" : "select * from sudoers;",
      "description" : "Retrieves all the information for sudoers.",
      "interval" : "3600"
    },
    "groups": {
      "query" : "select * from groups;",
      "description" : "Retrieves groups info.",
      "interval" : "900"
    },
    "interface_details": {
      "query" : "select * from interface_details;",
      "description" : "Retrieves interface details.",
      "interval" : "3600"
    },
    "fileless_process": {
      "query" : "SELECT name, path, pid FROM processes WHERE on_disk = 0;",
      "description" : "Retrieves interface details.",
      "interval" : "900"
    },
    "processes": {
      "query": "SELECT pid, name, path, cmdline from processes;",
      "description": "Retrieve list of processes",
      "interval" : "900"
    },
    "process_binding_to_ports": {
      "query" : "select DISTINCT process.name, listening.port, process.pid FROM processes as process JOIN listening_ports AS listening ON process.pid=listening.pid;",
      "description" : "Retrieves the list of processes bound to listening ports.",
      "interval" : "900"
    },
    "python_packages": {
      "query" : "select * FROM python_packages;",
      "interval" : "900",
      "description" : "Python packages installed in a system"
    },
    "arp_anomalies": {
      "query" : "SELECT address, mac, COUNT(mac) AS mac_count FROM arp_cache GROUP BY mac HAVING count(mac) > 1;",
      "description" : "Retrieves interface details.",
      "interval" : "900"
    },
    "crontab": {
      "query" : "select * from crontab;",
      "version" : "1.4.5",
      "description" : "Retrieves all the jobs scheduled in crontab in the target system.",
      "value" : "Identify malware that uses this persistence mechanism to launch at a given interval",
      "interval" : "900"
    },
    "etc_hosts": {
      "query" : "select * from etc_hosts;",
      "version" : "1.4.5",
      "description" : "Retrieves all the entries in the target system /etc/hosts file.",
      "value" : "Identify network communications that are being redirected. Example: identify if security logging has been disabled",
      "interval" : "3600"
    },
    "suid_bin": {
      "query" : "select * from suid_bin;",
      "version" : "1.4.5",
      "description" : "Retrieves all the files in the target system that are setuid enabled.",
      "value" : "Detect backdoor binaries (attacker may drop a copy of /bin/sh). Find potential elevation points / vulnerabilities in the standard build.",
      "interval" : "3600"
    },
    "system_controls": {
      "query": "select * from system_controls;",
      "interval" : "3600",
      "platform": "all",
      "description": "sysctl names, values, and settings information"
    },
    "ad_config": {
      "query": "select * from ad_config;",
      "interval" : "3600",
      "platform": "darwin",
      "description": "OS X Active Directory configuration"
    },
    "alf": {
      "query": "select * from alf;",
      "interval" : "3600",
      "platform": "darwin",
      "description": "OS X application layer firewall (ALF) service details"
    },
    "alf_exceptions": {
      "query": "select * from alf_exceptions;",
      "interval" : "3600",
      "platform": "darwin",
      "description": "OS X application layer firewall (ALF) service exceptions"
    },
    "alf_explicit_auths": {
      "query": "select * from alf_explicit_auths;",
      "interval" : "3600",
      "platform": "darwin",
      "description": "ALF services explicitly allowed to perform networking"
    },
    "alf_services": {
      "query": "select * from alf_services;",
      "interval" : "3600",
      "platform": "darwin",
      "description": "OS X application layer firewall (Firewall) services"
    },
    "app_schemes": {
      "query": "select * from app_schemes;",
      "interval" : "3600",
      "platform": "darwin",
      "description": "OS X application schemes and handlers (e.g., http, file, mailto)"
    },
    "apps": {
      "query": "select * from apps;",
      "interval" : "3600",
      "platform": "darwin",
      "description": "OS X applications installed in known search paths (e.g., /Applications)"
    },
    "browser_plugins": {
      "query": "select * from browser_plugins;",
      "interval" : "3600",
      "platform": "darwin",
      "description": "All C/NPAPI browser plugin details for all users"
    },
    "certificates": {
      "query": "select * from certificates;",
      "interval" : "3600",
      "platform": "darwin",
      "description": "Certificate Authorities installed in Keychains/ca-bundles"
    },
    "crashes": {
      "query": "select * from crashes;",
      "interval" : "3600",
      "platform": "darwin",
      "description": "Application, System, and Mobile App crash logs"
    },
    "device_firmware": {
      "query": "select * from device_firmware;",
      "interval" : "3600",

      "platform": "darwin",
      "description": "A best-effort list of discovered firmware versions"
    },
    "disk_events": {
      "query": "select * from disk_events;",
      "interval" : "3600",
      "platform": "darwin",
      "description": "Track DMG disk image events (appearance/disappearance) when opened"
    },
    "gatekeeper": {
      "query": "select * from gatekeeper;",
      "interval" : "3600",
      "platform": "darwin",
      "description": "OS X Gatekeeper Details"
    },
    "gatekeeper_approved_apps": {
      "query": "select * from gatekeeper_approved_apps;",
      "interval" : "3600",
      "platform": "darwin",
      "description": "Gatekeeper apps a user has allowed to run"
    },
    "kernel_panics": {
      "query": "select * from kernel_panics;",
      "interval" : "3600",
      "platform": "darwin",
      "description": "System kernel panic logs"
    },
    "launchd_agents": {
      "query": "SELECT l.*, h.sha256 FROM launchd l LEFT JOIN hash h ON l.program = h.path;",
      "interval" : "3600",
      "platform": "darwin",
      "description": "System kernel panic logs"
    },
    "managed_policies": {
      "query": "SELECT * FROM managed_policies;",
      "interval" : "3600",
      "platform": "darwin",
      "description": "The managed configuration policies from AD, MDM, MCX, etc."
    },
    "package_install_history": {
      "query": "select * from package_install_history;",
      "interval" : "3600",
      "platform": "darwin",
      "description": "OS X package install history"
    },
    "sandboxes": {
      "query": "select * from sandboxes;",
      "interval" : "3600",
      "platform": "darwin",
      "description": "OS X application sandboxes container details"
    },
    "shared_folders": {
      "query": "select * from shared_folders;",
      "interval" : "3600",
      "platform": "darwin",
      "description": "Folders available to others via SMB or AFP"
    },
    "sharing_preferences": {
      "query": "select * from sharing_preferences;",
      "interval" : "3600",
      "platform": "darwin",
      "description": "OS X Sharing preferences."
    },
    "wifi_networks": {
      "query": "select * from wifi_networks;",
      "interval" : "3600",
      "platform": "darwin",
      "description": "OS X known/remembered Wi-Fi networks list"
    },
    "xprotect_entries": {
      "query": "select * from xprotect_entries;",
      "interval" : "3600",
      "platform": "darwin",
      "description": "Database of the machine's XProtect signatures"
    }
  }
}

